# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Evaluate arithmetic expressions 
* Markdown language

Some of the popular languages that Data Scientists use are:
1. R
2. Pyton
3. Javascript

|Data Science Tools|
|------------------|
|RStudio|
|VS Code|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Joel Saucedo